@model TARge21Shop.Models.Weather.WeatherViewModel

<h1>City</h1>

<div class="container">
    <h2>Search the forecast for selected city</h2>
    <hr />
    <dl class="row">

        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Date)
        </div>

        <div class="form-group row">
        <label asp-for="EpochDate" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.EpochDate)
        </div>

        <div class="form-group row">
        <label asp-for="Severity" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Severity)
        </div>

        <div class="form-group row">
            <label asp-for="Text" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Text)
        </div>

        <div class="form-group row">
            <label asp-for="Category" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Category)
        </div>

        <div class="form-group row">
            <label asp-for="MobileLink" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.MobileLink)
        </div>

        <div class="form-group row">
            <label asp-for="Link" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Link)
        </div>

        <div class="form-group row">
        <label asp-for="Temperature.Maximum.Value" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Maximum.Value)
        </div>

        <div class="form-group row">
            <label asp-for="Temperature.Maximum.Unit" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Maximum.Unit)
        </div>

        <div class="form-group row">
        <label asp-for="Temperature.Maximum.UnitType" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Maximum.UnitType)
        </div>

        <div class="form-group row">
        <label asp-for="Temperature.Minimum.Value" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Minimum.Value)
        </div>

        <div class="form-group row">
        <label asp-for="Temperature.Minimum.Unit" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Minimum.Unit)
        </div>

        <div class="form-group row">
        <label asp-for="Temperature.Minimum.UnitType" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Temperature.Minimum.UnitType)
        </div>

        <div class="form-group row">
            <label asp-for="Day.Icon" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Day.Icon)
        </div>

        <div class="form-group row">
            <label asp-for="Day.IconPhrase" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Day.IconPhrase)
        </div>

        <div class="form-group row">
            <label asp-for="Day.HasPrecipitation" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Day.HasPrecipitation)
        </div>

        <div class="form-group row">
            <label asp-for="Day.PrecipitationType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Day.PrecipitationType)
        </div>        
        
        <div class="form-group row">
            <label asp-for="Day.PrecipitationIntensity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Day.PrecipitationIntensity)
        </div>

        <div class="form-group row">
            <label asp-for="Night.Icon" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Night.Icon)
        </div>

        <div class="form-group row">
            <label asp-for="Night.IconPhrase" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Night.IconPhrase)
        </div>

        <div class="form-group row">
            <label asp-for="Night.HasPrecipitation" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Night.HasPrecipitation)
        </div>

        <div class="form-group row">
            <label asp-for="Night.PrecipitationType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Night.PrecipitationType)
        </div>

        <div class="form-group row">
            <label asp-for="Night.PrecipitationIntensity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Night.PrecipitationIntensity)
        </div>

    </dl>

</div>
